@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --outfit: "Outfit", sans-serif;
}

/* Document */

body {
  background-color: var(--light-gray);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Component */

.card {
  font-family: var(--outfit);
  font-size: 15px;
  color: var(--dark-blue);
  background-color: var(--white);
  text-align: center;
  border-radius: 1rem;
  max-width: 18rem;
  padding: 1rem;
}

/* Image */

.card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

/* Content */

.card p {
  color: var(--grayish-blue);
  margin: 0.5rem 1rem 1.5rem;
}

/* Footer */

footer {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
